<html>
    <head>
        <link rel="stylesheet" href="/Xhantia/src/style.css">
    </head>
    <title> NOME DEL DUNGEON </title>

    <body>
        <div id = "Titolo" >
            <h1><center>NOME DEL DUNGEON</center></h1>
        </div>
        <div id = "benvenuti">
            <a href="https://xhantia.com/" target="_blank">
              <img src="/Xhantia/img/logo.png" alt="Homagepage Xhantia" width="330" height="150"/>
          </a>
        <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Link Utili</a>
                <ul>
                  <li><a href="https://xhantia.com/">Home Xhantia</a></li>
                  <li><a href="https://xhantia.com/register">Registrazione Xhantia</a></li>
                  <li><a href="https://discord.gg/YcxsRfeuS9">Discord</a></li>
                </ul>
              </li>
              <li><a href="#">DNG</a>
              <ul>
                <li><a href="https://bit.ly/41r1cRy">Nemere</a></li>
                <li></li>
              </ul>
              </li>
              <li><a href="#">BOSS</a>
              <ul>
                <li><a href="#"> Capo Orco </a></li>
                <li></li>
                </ul>
              </li>
            </ul>
          </nav>


          <div style="display: flex;">
            <img src="INSERIRE URL DELL'IMMAGINE DEL BOSS" alt="Descrizione dell'immagine" style="margin-right: 20px;">
            <table>
                <thead>
                    <tr>
                        <th>Nome Boss</th>
                    </tr>
                    <tbody>
                        <td> <center>NOME DEL BOSS</center> </td>
                    </tbody>
                    <tr>
                        <th><center>livello</center></th>
                    </tr>
                    <tbody>
                        <td> <center>LIVELLO DEL BOSS</center> </td>
                    </tbody>
                    <tr>
                        <th>Posizione</th>
                    </tr>
                    <tbody>
                        <td><center>NOME DEL LUOGO DOVE TROVARE IL BOSS</center></th>
                    </tbody>
                    <tr>
                        <th>Razza</th>
                    </tr>
                    <tbody>
                        <td><center>RAZZA DEL BOSS</center></th>
                    </tbody>
                    <tr>
                        <th>Elemento</th>
                    </tr>
                    <tbody>
                        <td><center>ELEMENTO DEL BOSS</center></th>
                    </tbody>
                    <tr>
                        <th>Bonus Utili</th>
                    </tr>
                    <tbody>
                        <td><center>BONUS UTILI CONTRO IL BOSS</center></th>
                    </tbody>
                    <tr>
                        <th>Possibili DROP</th>
                    </tr>
                    <tbody>
                        <td><center>POSSIBILI DROP DEL BOSS</center></th>
                    </tbody>
                </thead>
            </table>
        </div>
        <div id = "Descrizione">
            <h2>Descrizione</h2>
            <p>
                <p><b>Primo Piano</b>:
                <br>DESCRIZIONE PRIMO PIANO</p>
                <p><b>Secondo Piano</b>:
                <br>DESCRIZIONE SECONDO PIANO</p>
                <p><b>Terzo Piano</b>:
                <br>DESCRIZIONE TERZO PIANO</p>
                <p><b>Quarto Piano</b>:
                <br>DESCRIZIONE QUARTO PIANO</p>
                <p><b>Quinto Piano</b>:
                <br>DESCRIZIONE QUINTO PIANO</p>
            </p>
        </div>
    </body>
</html>